/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional choices: style */
.display-text {
	@apply font-serif leading-tight tracking-tight font-bold text-3xl sm:text-4xl lg:text-5xl;
}
.heading-text {
	@apply font-serif leading-tight font-medium text-xl sm:text-2xl lg:text-3xl;
}
.heading-text-sm {
	@apply font-serif leading-tight font-medium text-lg sm:text-xl lg:text-2xl;
}
.subtitle-text {
	@apply font-sans leading-tight font-medium text-base sm:text-lg lg:text-xl;
}
.main-text {
	@apply font-sans leading-normal text-sm sm:text-base;
}
.paragraph-text {
	@apply font-sans leading-loose text-sm sm:text-base;
}
.caption-text {
	@apply font-sans font-light leading-normal text-xs sm:text-sm;
}
.label-text {
	@apply font-sans leading-none tracking-wide text-sm sm:text-base;
}
.accent-text {
	@apply font-sans font-light leading-none tracking-wide text-xs sm:text-sm;
}

.custom-container {
	@apply mx-auto max-w-screen-xl px-4 md:px-6 lg:px-12;
}

.button {
	@apply inline-flex items-center justify-center px-4 py-2;
}
.button-sm {
	@apply inline-flex items-center justify-center px-3 py-1.5;
}
.shine {
	@apply shadow-[inset_0px_0.1rem_0.5rem_0px_rgba(255,255,255,0.4)];
}
.shine-lg {
	@apply shadow-[inset_0px_1rem_2rem_0px_rgba(255,255,255,0.6)];
}

.carousel-item {
	@apply px-4 md:px-6 xl:px-3;
}

.text-input {
	@apply bg-neutral-100 rounded-lg border-0 shadow-[inset_0_1px_4px_rgba(0,0,0,1)] focus:shadow-[0_1px_4px_rgba(0,0,0,1)];
}
.popup {
	@apply active:shadow-[inset_0_1px_4px_rgba(0,0,0,1)] shadow-[0_1px_4px_rgba(0,0,0,1)];
}
