/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional choices: style */
.display-text {
	@apply font-serif leading-tight tracking-tight font-bold text-3xl sm:text-4xl lg:text-5xl;
}
.heading-text {
	@apply font-serif leading-tight font-medium text-xl sm:text-2xl lg:text-3xl;
}
.subtitle-text {
	@apply font-sans leading-tight font-medium text-lg sm:text-xl lg:text-2xl;
}
.main-text {
	@apply font-sans leading-normal text-sm sm:text-base;
}
.paragraph-text {
	@apply font-sans leading-loose text-sm sm:text-base;
}
.caption-text {
	@apply font-sans font-light leading-normal text-xs sm:text-sm;
}
.label-text {
	@apply font-sans leading-none tracking-wide text-sm sm:text-base;
}
.accent-text {
	@apply font-sans font-light leading-none tracking-wide text-xs sm:text-sm;
}

.custom-container {
	@apply m-auto max-w-screen-xl px-4 md:px-6 lg:px-12;
}

.button {
	@apply rounded-lg px-5 py-2.5 inline-block;
}
.button-elevated {
	@apply drop-shadow-xl shadow-[inset_0px_2px_8px_0px_rgba(255,255,255,0.4)];
}
