/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional choices: style */
.display-text {
	@apply font-serif leading-tight tracking-tight text-5xl font-bold;
}
.heading-text {
	@apply font-serif leading-tight text-3xl font-medium;
}
.subtitle-text {
	@apply font-sans leading-tight text-2xl font-medium;
}
.main-text {
	@apply font-sans leading-normal;
}
.paragraph-text {
	@apply font-sans leading-loose;
}
.label-text {
	@apply font-sans leading-none tracking-wide;
}
.accent-text {
	@apply font-sans font-light text-sm leading-none tracking-wide;
}

.custom-container {
	@apply m-auto max-w-screen-xl px-4 md:px-6 lg:px-12;
}

.button {
	@apply font-sans leading-none tracking-wide rounded-lg px-5 py-2.5;
}
